@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base{

    @font-face {
        font-family: 'the-bold-font';
        src: url(../assets/fonts/THEBOLDFONT.ttf);
    }
}
::-webkit-scrollbar{
    width: 0;
}
input,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: transparent;
}
.projectSection{
    --maskTop:100;
    --maskBottom:0;
    mask: linear-gradient(to bottom, 
    rgba(0,0,0, calc(var(--maskTop) / 100)) 0%,   rgba(0,0,0, 1) 20%, 
    rgba(0,0,0, 1) 70%, rgba(0,0,0, calc(var(--maskBottom) / 100)) 100%
) 100% 50% / 100% 100% repeat-x;;
}
.projectSection.AtTop{
    mask: linear-gradient(to bottom, 
    rgba(0,0,0, 1) 0,   rgba(0,0,0, 1) 20%, 
    rgba(0,0,0, 1) 70%, rgba(0,0,0, 0) 100%
) 100% 50% / 100% 100% repeat-x;;
}
.projectSection.AtBottom{
    mask: linear-gradient(to bottom, 
    rgba(0,0,0, 0) 0,   rgba(0,0,0, 1) 20%, 
    rgba(0,0,0, 1) 70%, rgba(0,0,0, 1) 100%
) 100% 50% / 100% 100% repeat-x;;
}
.card{
    opacity: 0;
}
.homeSection.active{
    pointer-events: auto;
    opacity: 1;
}
.goalSection.active{
    pointer-events: auto;
    opacity: 1;
}
.projectSection.active{
    pointer-events: auto;
    opacity: 1;
}
.contactSection.active{
    pointer-events: auto;
    opacity: 1;
}
.projectSection.active .card{
    animation-name: cardIn;
    animation-duration: 500ms;
    animation-timing-function: ease-in-out;
    animation-delay: calc(var(--animation-index)*150ms);
    animation-fill-mode: forwards;

}
@keyframes cardIn {
    0%{
        opacity: 0;
       transform: translateY(20px); 
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
    
}
.project.active ~ .navIndicator {
    transform: translateX(calc(5.2rem * 1));
}
.goal.active ~ .navIndicator {
    transform: translateX(calc(5.1rem * 2));
}
.contact.active ~ .navIndicator {
    transform: translateX(calc(4.9rem * 3));
}
@media screen and (min-width:1024px) {
    .project.active ~ .navIndicator {
        transform: translateX(calc(9.5rem * 1));
    }
    .goal.active ~ .navIndicator {
        transform: translateX(calc(9.5rem * 2));
    }
    .contact.active ~ .navIndicator {
        transform: translateX(calc(9.3rem * 3));
    }
    
}
/* .navIndicator{
    transform: translateX(calc(96px * 1));
} */